.todo-items {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}

.todo-items-container {
    display: flex;
}

.todos-item-icon {
    cursor: pointer;
}

.todo-items-text {
    padding-left: 16px;
    color: #404040;
    font-size: 22px;
    padding-top: 2px;
}

.todo-items-cross-icon {
    cursor: pointer;
    padding-right: 25px;
}

.line-through {
    text-decoration: line-through solid #ADADAD 3px;
}